configuration {
	modi: "drun,run,window,ssh,keys,combi";
	font: "JetBrains Mono 10";
	show-icons: true;
	terminal: "st";
	combi-modi: "window,run,drun";
	sort: true;
	sorting-method: "levenshtein";
}
@import "custom_theme.rasi"
@theme "/usr/share/rofi/themes/gruvbox-light-soft.rasi"
