[colors]
background = #282c34
foreground = #d7d7d7
primary = #5e81ec
secondary = #e60053
alert = #bd2c40

[bar/mainbar0]
inherit = bar/barbase
modules-left = workspace0
[module/workspace0]
type = custom/script
exec = leftwm-state -w 0 -t $SCRIPTPATH/template.liquid
tail = true

[bar/mainbar1]
inherit = bar/barbase
modules-left = workspace1
[module/workspace1]
type = custom/script
exec = leftwm-state -w 1 -t $SCRIPTPATH/template.liquid
tail = true

[bar/mainbar2]
inherit = bar/barbase
modules-left = workspace2
[module/workspace2]
type = custom/script
exec = leftwm-state -w 2 -t $SCRIPTPATH/template.liquid
tail = true

[bar/mainbar3]
inherit = bar/barbase
modules-left = workspace3
[module/workspace3]
type = custom/script
exec = leftwm-state -w 3 -t $SCRIPTPATH/template.liquid
tail = true

[bar/barbase]
width = ${env:width}
offset-x = ${env:offsetx}
monitor = ${env:monitor}
;offset-y = ${env:y}
;width = 100%
height = 22
fixed-center = true
background = ${colors.background}
foreground = ${colors.foreground}
line-size = 2
line-color = #f00
border-size = 0
border-color = #00000000
padding-left = 0
padding-right = 1
module-margin-left = 1
module-margin-right = 0.95
separator = "|"
font-0 = "JetBrains Mono Medium:size=9;2"
font-1 = "JoyPixels:scale=12;2"
modules-center =
modules-right = updates news cpu ram network disk temp battery volume date
tray-position = right
tray-padding = 1
tray-maxsize = 16
cursor-click = pointer
cursor-scroll = ns-resize

[module/ewmh]
type = internal/xworkspaces
label-active = " %icon% %name%  "
label-active-foreground = ${colors.foreground}
label-active-background = ${colors.background}
label-active-underline = ${colors.primary}
label-occupied = " %icon% %name%  "
label-occupied-underline = ${colors.secondary}
label-urgent = " %icon% %name%  "
label-urgent-foreground = ${colors.foreground}
label-urgent-background = ${colors.background}
label-urgent-underline  = ${colors.alert}
label-empty = " %icon% %name%  "
label-empty-foreground = ${colors.foreground}

[module/xwindow]
type = internal/xwindow
label = %title:0:30:...%

; Only show workspaces on the same output as the bar
;pin-workspaces = true

label-mode-padding = 2
label-mode-foreground = #000
label-mode-background = ${colors.primary}

; focused = Active workspace on focused monitor
label-focused = %index%
label-focused-background = ${module/bspwm.label-focused-background}
label-focused-underline = ${module/bspwm.label-focused-underline}
label-focused-padding = ${module/bspwm.label-focused-padding}

; unfocused = Inactive workspace on any monitor
label-unfocused = %index%
label-unfocused-padding = ${module/bspwm.label-occupied-padding}

; visible = Active workspace on unfocused monitor
label-visible = %index%
label-visible-background = ${self.label-focused-background}
label-visible-underline = ${self.label-focused-underline}
label-visible-padding = ${self.label-focused-padding}

; urgent = Workspace with urgency hint set
label-urgent = %index%
label-urgent-background = ${module/bspwm.label-urgent-background}
label-urgent-padding = ${module/bspwm.label-urgent-padding}

; Separator in between workspaces
; label-separator = |

[module/bspwm]
type = internal/bspwm

label-focused = %index%
label-focused-background = ${colors.background-alt}
label-focused-underline= ${colors.primary}
label-focused-padding = 2

label-occupied = %index%
label-occupied-padding = 2

label-urgent = %index%!
label-urgent-background = ${colors.alert}
label-urgent-padding = 2

label-empty = %index%
label-empty-foreground = ${colors.foreground-alt}
label-empty-padding = 2

[module/i3]
type = internal/i3
format = <label-state> <label-mode>
index-sort = true
wrapping-scroll = false

[module/updates]
type = custom/script
exec = $SCRIPTPATH/scripts/updates.sh
interval = 1000
label = "%output%"
format-foreground = #d7d7d7
format-background = #282c34

[module/news]
type = custom/script
exec = $SCRIPTPATH/scripts/news.sh
interval = 1000
label = "%output%"
format-foreground = #d7d7d7
format-background = #282c34

[module/cpu]
type = internal/cpu
interval = 1
format-foreground = #d7d7d7
format-background = #282c34
format-prefix = "💻"
label-font = 1
format = <label>
label = "%percentage:3%% "

[module/ram]
type = internal/memory
interval = 1
label = "%percentage_used%% "
format = <label>
format-prefix = "🧠 "
format-foreground = #d7d7d7
format-background = #282c34

[module/network]
type = custom/script
exec = $SCRIPTPATH/scripts/network.sh
interval = 3
label = "%output% "
format-foreground = #d7d7d7
format-background = #282c34

[module/disk]
type = custom/script
exec = $SCRIPTPATH/scripts/disk.sh
interval = 1000
label = "%output%"
format-foreground = #d7d7d7
format-background = #282c34

[module/temp]
type = custom/script
exec = $SCRIPTPATH/scripts/temp.sh
interval = 10
label = "%output%"
format-foreground = #d7d7d7
format-background = #282c34

[module/battery]
type = custom/script
exec = $SCRIPTPATH/scripts/battery.sh
interval = 1
label = "%output%"
format-foreground = #d7d7d7
format-background = #282c34

[module/volume]
type = custom/script
exec = $SCRIPTPATH/scripts/vol.sh
interval = 1
label = "%output%"
format-foreground = #d7d7d7
format-background = #282c34

[module/date]
type = internal/date
date = %a %B %d
time = %R
label = "%date% %time%"
format-prefix = "🕒 "
format-foreground = #d7d7d7
format-background = #282c34

[settings]
screenchange-reload = true
;compositing-background = xor
;compositing-background = screen
;compositing-foreground = source
;compositing-border = over
;pseudo-transparency = false

;[global/wm]
;margin-top = 5
;margin-bottom = 5

; vim:ft=dosini
